name: Build all

on:
  pull_request:
  push:
    branches:
      - "main"

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      TZ: Europe/Berlin # timezone
    steps:
      - uses: it-at-m/lhm_actions/action-templates/actions/action-checkout@12966547963631f8429d42bab860485b413003c2 # v1.0.22
      - if: ${{ hashFiles('./package.json')!=null }}
        id: node
        uses: it-at-m/lhm_actions/action-templates/actions/action-npm-build@12966547963631f8429d42bab860485b413003c2 # v1.0.22
        with:
          app-path: ""
      - if: ${{ hashFiles('./pom.xml')!=null }}
        id: maven
        uses: it-at-m/lhm_actions/action-templates/actions/action-maven-build@12966547963631f8429d42bab860485b413003c2 # v1.0.22
        with:
          app-path: ""
